@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer

@model DishModel
@{
    Layout = "Layouts/_LayoutSingleDish";
    ViewData["Title"] = Model.Title;
}

<div class="dish-details">
    <h1 class="dish-title">@Model.Title</h1>

    @if (!string.IsNullOrEmpty(Model.TitleImagePath))
    {
        <div class="dish-image">
            <img src="~/@Model.TitleImagePath" alt="@Model.Title" class="img-fluid" />
        </div>
    }

    <div class="dish-info">
        @if (Model.Discount == 0)
        {
            <h2 class="dish-price">@SharedLocalizer["Price"]: @Model.Price ֏</h2>
        }
        else
        {
            <h2 class="dish-price">@SharedLocalizer["OldPrice"]: <s>@Model.Price ֏</s></h2>
            <h2 class="dish-price">
                @SharedLocalizer["NewPrice"]: @{
                    var newPrice = Model?.Price - (Model?.Price * Model.Discount / 100);
                } @newPrice ֏
            </h2>
        }
        <p class="dish-subtitle"><strong>@Model.Subtitle</strong></p>
        <p class="dish-description">@Model.Text</p>
        <p class="dish-type">@SharedLocalizer["Type"]: <span>@Model.DishType</span></p>
        <p class="dish-meta">
            <small>@SharedLocalizer["AddedOn"]: @Model.DateAdded.ToString("dd MMMM yyyy")</small>
        </p>
    </div>

    <form class="add-to-cart-form" data-url="@Url.Action("AddToCart", "Cart")" method="post">
        <!-- Hidden inputs to send product details -->
        <input type="hidden" name="productId" value="@Model.Id" />
        <input type="hidden" name="title" value="@Model.Title" />
        <input type="hidden" name="price" value="@Model.Price" />

        <div class="form-group">
            <label for="quantity">@SharedLocalizer["Quantity"]:</label>
            <input type="number" name="quantity" id="count" class="form-control" min="1" value="1" />
        </div>

        <button type="submit" class="submit add-to-cart">@SharedLocalizer["AddToCart"]</button>
    </form>
</div>