@using ChinaFood
@using ChinaFood.Domain.Entities
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer

<form asp-controller="Search" asp-action="Search" class="poster__form form" method="get">
    <div class="form__row">
        <div class="form__item-column">
            <label for="hotels_name">@SharedLocalizer["InputDishName"]</label>
            <input type="text" id="hotels_name" name="destination" placeholder="@SharedLocalizer["DishName"]">
        </div>

        <div class="form__item-column">
            <label for="dishType">@SharedLocalizer["DishType"]</label>
            <select id="dishType" name="dishType" class="form__select">
                <option value="">@SharedLocalizer["SelectDishType"]</option>
                <option value="China">@SharedLocalizer["Chinesse"]</option>
                <option value="Japan">@SharedLocalizer["Japanesse"]</option>
                <option value="Drink">@SharedLocalizer["Drinks"]</option>
            </select>
        </div>

        <div class="form__item-column">
            <label for="subCategoryId">@SharedLocalizer["SubCategory"]</label>
            <select id="subCategoryId" name="subCategoryId" class="form__select">
                <option value="">@SharedLocalizer["SelectSubCategory"]</option>
                @foreach (var subCategory in ViewBag.SubCategories)
                {
                    <option value="@subCategory.Id">@subCategory.Title</option>
                }
            </select>
        </div>

        @* <div class="form__item-column">
            <label for="minPrice">@SharedLocalizer["MinPrice"]</label>
            <input type="number" id="minPrice" name="minPrice" class="form__number" min="0">
        </div>

        <div class="form__item-column">
            <label for="maxPrice">@SharedLocalizer["MaxPrice"]</label>
            <input type="number" id="maxPrice" name="maxPrice" class="form__number">
        </div> *@
        <button type="submit" class="submit">@SharedLocalizer["Search"]</button>
    </div>
</form>
