@using ChinaFood.Domain;
@using ChinaFood.Domain.Repositories.Abstract;
@using System.Reflection;
@model DataManager
@{
    PropertyInfo[] repos = Model.GetType().GetProperties();
    int selectedIndex = -1;
    dynamic selectedTable = (IDishesRepository)repos[0].GetValue(Model);

    for (int i = 0; i < repos.Length; i++)
    {
        if (repos[i].Name == ViewBag.SelectedTable)
        {
            selectedIndex = i;
        }
    }

    if (selectedIndex != -1)
    {
        Model.GetSelectedTable(repos[selectedIndex], out selectedTable);
    }
}


<!DOCTYPE html>
<html lang="en">
<body>
    <br>
    <main class="container">
        <div class="row">
                <div class="col-3">
                    <a asp-area="Admin" asp-controller="@ViewBag.SelectedTable" asp-action="Edit" class="btn btn-success">Ստեղծել նորը</a>
                </div>
            
            <div class="col"></div>
            <div class="col-md-4 col-8 right">
                <form asp-area="Admin" asp-controller="Home" asp-action="Read" method="get">
                    <div class="row">
                        <select name='table' class="col form-select" aria-label="table">
                            <option value="@ViewBag.SelectedTable">@ViewBag.SelectedTable</option>
                            @foreach (var repo in repos)
                            {
                                @if (repo.Name == ViewBag.SelectedTable)
                                {
                                    continue;
                                }
                                <option value="@repo.Name">@repo.Name</option>
                            }
                        </select>
                        <button class="col btn btn-success" type="submit">OK</button>
                    </div>
                </form>
            </div>

        </div>
        <hr />
        @if (selectedIndex > -1)
        {
            <table id="data" class="table">
                <thead>
                    <tr>
                        @foreach (var item in selectedTable.GetDataNames())
                        {
                            <th>@item</th>
                        }

                        <th>Գործողություններ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var table in selectedTable.GetAll())
                    {
                        <tr>
                            @foreach (var data in selectedTable.GetData(table))
                            {
                                <td>@data</td>
                            }

                            <td class="action">
                                <form asp-area="Admin" asp-controller="@ViewBag.SelectedTable" asp-action="Edit" method="GET">
                                    <input name="id" type="hidden" value="@table.Id">
                                    <button type="submit" href="" class="btn btn-warning"><i class="bi bi-pencil-fill"></i></button>
                                </form>
                                <form asp-area="Admin" asp-controller="@ViewBag.SelectedTable" asp-action="Delete" method="POST">
                                    <input name="id" type="hidden" value="@table.Id">
                                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h5>Տվյալներ չեն գտնվել.</h5>
        }
    </main>
</body>

</html>